body {
  font-family: 'Quattrocento Sans', sans-serif; }
  body .wrapper .sidebar-wrapper .languages-container .interests-list li, body .wrapper .sidebar-wrapper .interests-container .interests-list li {
    font-size: 15px;
    margin-bottom: 2px !important; }
  body .wrapper .sidebar-wrapper .profile-container .name {
    font-size: 26px !important; }
  body .wrapper .sidebar-wrapper .contact-container .contact-list li {
    margin-bottom: 10px; }
    body .wrapper .sidebar-wrapper .contact-container .contact-list li i {
      width: 20px;
      text-align: center; }
    body .wrapper .sidebar-wrapper .contact-container .contact-list li a {
      font-size: 15px; }
    body .wrapper .sidebar-wrapper .contact-container .contact-list li .contact-desc {
      font-size: 13px;
      color: rgba(255, 255, 255, 0.6); }
  body .wrapper .sidebar-wrapper .education-container .item .degree {
    font-size: 14px; }
  body .wrapper .sidebar-wrapper .languages-container .interests-list .lang-desc {
    font-size: 13px; }
  body .wrapper .main-wrapper .experiences-section .item, body .wrapper .main-wrapper .projects-section .item {
    margin-bottom: 15px; }
  body .wrapper .main-wrapper .summary-section .summary p {
    font-size: 15px;
    line-height: 1.5; }
  body .wrapper .main-wrapper .experiences-section .item .meta .upper-row .job-title {
    font-size: 17px !important; }
  body .wrapper .main-wrapper .experiences-section .item .meta .company {
    font-size: 13px;
    color: #97AAC3; }
  body .wrapper .main-wrapper .experiences-section .item .details {
    line-height: 1.5;
    font-size: 15px; }
  body .wrapper .main-wrapper .projects-section .item .project-title .project-link {
    font-size: 17px; }
  body .wrapper .main-wrapper .projects-section .item .project-web {
    font-size: 15px; }
  body .wrapper .main-wrapper .projects-section .item .project-tagline {
    line-height: 1.5;
    font-size: 15px; }
  body .wrapper .main-wrapper .projects-section .item .project-repo > a {
    font-size: 13px;
    color: #97AAC3; }
  body .wrapper .main-wrapper .skills-section .skillset .item .level-bar {
    margin-top: 3px; }

a {
  text-decoration: none !important; }

.hovered-link:hover {
  color: #0ea5b5 !important; }

.sidebar-hovered-link:hover {
  color: #21e9fc !important; }

